@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PoppinsRegular.ttf");
    font-family: "Poppins";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/MontserratExtraBold.ttf");
    font-family: "Montserrat";
    font-weight: 800;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PoppinsBold.ttf");
    font-family: "Poppins";
    font-weight: 700;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/MontserratRegular.ttf");
    font-family: "Montserrat";
    font-weight: 400;
}
@font-face {
    font-display: swap;
    font-style: normal;
    src: url("/public/fonts/PoppinsSemiBold.ttf");
    font-family: "Poppins";
    font-weight: 600;
}